$black: #3d3d3d;
$white: #fff;
$orange: #e2c35c;
$bkg-color: #f1f1f1;
$accept-color: #9ccc65;
$refuse-color: #cc7676;

$gold-gradient: linear-gradient(-45deg, #e9eab4 0%, #eaeab2 10%, #D1B464 45%, #c4af7f 60%, #d6c08d 100%);
